<h1>Welcome to HBS Previewer</h1>

<div>
  <p>Enter your Handlebars template below:</p>
  <textarea name="template" id="template" cols="33" rows="5"></textarea>
</div>

<div>
  <p>Enter JSON Data:</p>
  <textarea name="data" id="data" cols="33" rows="5"></textarea>
</div>

<button id="preview-btn">Preview</button>
<button id="reset-btn">Reset</button>

<div id="preview">

</div>



<script src="/js/scripts.js"></script>